<h1 style="text-align: center">Welcome to the Longmont Artisan Market Vendor Portal!</h1>

<div style="padding-right: 100px; padding-left: 100px">

<h3> We are excited to announce the Handcrafted Holiday Market’s return!  With 30+ local vendors and no admission fee for shoppers, we hope the 2021 market will be our best event yet.
The Boulder County Fairgrounds will require masks and social distancing, as the event is fully indoors.  We will make sure to notify our vendors and shoppers if anything changes!</h3>

<h3 style="font-weight: bold">INFORMATION FOR VENDORS</h3>

<h4>If the event is cancelled for any reason, we will be happy to return any unspent portion of your booth fee.
Our main expenses are the Barn A lease, event insurance, and marketing, both online and print (flyers).
As you might expect, some of these expenses would be refundable to us if the event is cancelled, and some would not.</h4>

<h4>This year, we will expect flexibility from our vendors!
Booths will be spaced differently, and we may structure any raffles or freebies
differently to discourage shoppers from waiting around.  Market hours might also be extended an hour earlier or later
if we have occupancy limits.
If flexibility will be difficult for you, please communicate your concerns with us before submitting your application!</h4>

<h3 style="font-weight: bold">IMPORTANT DATES:</h3>
<h4>June 20: Vendor Applications Due ($15 fee)</h4>
<h4>July 1: Vendor Notifications</h4>
<h4>July 20: Booth Fees Due
($175 for 6 foot table, $225 for 10*10 booth)</h4>
<h4>December 11 and 12, 10am-5pm: 2021 Handcrafted Holiday Market </h4>
</div>

<h3 style="font-weight: bold; text-align: center"> Ready to apply? </h3>
<h3 style="text-align: center"><%=link_to "Register as a New User", "/register" %> or <%=link_to "Login", "/login" %></h3>
<h4 style="text-align: center"> Forgot your password? Email an admin at longmontartisanmarket@gmail.com and we'll help you reset it!</h4>
