<h1 style="text-align: center">Welcome to the Longmont Artisan Market Vendor Portal!</h1>

<h2 style="text-align: center"><%=link_to "Register as a New User", "/register" %> or <%=link_to "Login", "/login" %></h2>
