<h1 style="text-align: center">Welcome to the Longmont Artisan Market Vendor Portal!</h1>

<h3 style="text-align: center"><%=link_to "Register as a New User", "/register" %> or <%=link_to "Login", "/login" %></h3>
<h4 style="text-align: center"> Forgot your password? Email an admin at longmontartisanmarket@gmail.com and we'll help you reset it!</h4>
