<div style="text-align: center;">
  <h1>Welcome to your profile <%= @user.name %>! </h1>
  <h3>Business Name: <%= @user.business_name %><h3>
  <h3>Email Address: <%= @user.email_address %></h3>

  <h2> View Upcoming Markets and Apply to be a Vendor: </h2>
    <%  Event.open_for_application.each do |event| %>
      <h3><%=link_to event.name, "/events/#{event.id}" %> </h3>
    <% end %>
</div>
